
body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 36px;
    transition: all 0.3s ease-in-out;
}


.resaltado {
    color: #fff;
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
    transform: scale(1.1);
}
